<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show indivisual's detail's</title>
</head>
<body>
    <h1>Listing Details :</h1>
    <ul>
        <li> <%= result.title %> </li>
        <li>  <%= result.description %></li>
        <li>  <%= result.price %></li>
        <li>  <%= result.location %></li>
        <li>  <%= result.country %></li>

    </ul>
    <br>
    <br>
    <a href="/listing/<%= result._id %>/Edit">Edit this Listing</a>
    <br>
    <br>

    <form method="post" action="/listing/<%= result._id%>/Delete?_method=delete">
        <button>Delete this Listing</button>
    </form>
</body>
</html>    